// Basic colors
//     > Good for fonts
$red-font: #ed0000;
$red-selection: #be0000;
$red-disabled: #f68080;
$white: #fff;
$blue-link: #0e7dbb;
//    > Good for interfaces
$grey-font: #374649;
$grey-disabled: #4b6a76;
$grey-dark: #7098a7;
$grey-medium: #b7cbd3;
$grey-light: #f7f9fa;

// Digital mains
$flat-dark-blue: #285aff;
$flat-blue: #60c0ff;
$flat-mint: #32c8c8;
