// Basic colors
//     > Good for fonts
$red-font: #ED0000;
$red-selection: #BE0000;
$red-disabled: #F68080;
$white: #FFFFFF;
$blue-link: #0E7DBB;
//    > Good for interfaces
$grey-font: #374649;
$grey-disabled: #4B6A76;
$grey-dark: #7098A7;
$grey-medium: #B7CBD3;
$grey-light: #F7F9FA;

// Digital mains
$flat-dark-blue: #285AFF;
$flat-blue: #60C0FF;
$flat-mint: #32C8C8;