.bs-component {
  position: relative;
  margin-bottom: 1rem;
}
.source-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: 700;
}

.source-button:hover {
  cursor: pointer;
}

.bs-component:hover .source-button {
  display: block;
}
